@import "_variable";
@import "_mixin";

* {
  font-family: @font-family__base;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: none;
  outline: none;
  transition: all 0.2s linear;
  transition: width none;

  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: @color__text__black;
  font-size: @font-size__base;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

// header
.header {
  .wrapper {
    .flex(center, space-between);
  }
  background-color: @color-gray-light;
  height: 88px;

  &__logo {
    padding-top: 26px;
    padding-bottom: 19px;
  }

  &__menu {
    .flex(center,  space-between);
    list-style: none;
    gap: 0 32px;
    margin-left: 100px;

    li {
      a {
        .text(@font-size__base,@font-weight__semibold, @letter-spacing__m, @line-height__medium, inherit);
      }
    }
  }

  &__bars {
    display: none;
  }

  &__auth {
    .text(inherit,@font-weight__bold, @letter-spacing__l, @line-height__small);

    &-signup {
      .btn-default();
    }

    &-signin {
      color: @color__theme__base;
      padding: 12px 0;
      margin: 0 12px;
    }
  }

  @media @tablet {
    &__bars {
      .flex(center,space-between);
      gap: 20px;
      font-size: 20px;
      cursor: pointer;

      .fa-times {
        transform: rotate(180deg);
        color: @color__theme__base;
        transition-duration: 0.2s;
      }

      .fa-user.active {
        color: @color__theme__base;
      }
    }

    &__menu {
      position: absolute;
      top: 15%;
      left: 0;
      z-index: 100;

      background: #fff;
      text-align: center;
      right: 0;
      display: block;
      margin-left: 0;

      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      li {
        a {
          display: block;
          padding: 20px;
        }
      }
    }

    &__menu.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    &__auth {
      position: absolute;
      top: 20%;
      right: -110%;
      background: #fff;

      z-index: 100;
      &.active {
        right: 30px;
      }
    }
  }
}

// home
.home {
  background: url("../image/bg.png");
  min-height: 560px;
  background-position: center;
  background-size: cover;

  .flex(center, center);

  &__content {
    position: absolute;
    max-width: 730px;
    text-align: center;

    &-title {
      margin-bottom: 32px;
      .text(44px, @font-weight__bold, @letter-spacing__l, @line-height__super-large, @color__text__black);
    }

    &-desc {
      .text(@font-size__m, @font-weight__base, @letter-spacing__l, @line-height__large, @color__text__base);
      margin-bottom: 56px;
    }

    &-submit {
      .flex(center,center);
      gap: 0 24px;
      line-height: @line-height__extra-small;
      font-weight: @font-weight__bold;

      a {
        .btn-default();
      }

      a:nth-child(2) {
        .btn-trans();
        border: 1px solid @color__theme__base;
      }
    }
  }

  @media @tablet {
    &__content-title {
      .text(@font-size__xxl + 2px, @font-weight__bold, @letter-spacing__s, @line-height__db-extra-large, @color__text__black);
    }

    &__content-desc {
      margin-bottom: 40px;
      .text(@font-size__xs, @font-weight__base, @letter-spacing__s, @line-height__small, @color__text__base);
    }

    &__content-submit {
      gap: 0 18px;
      line-height: @line-height__db-extra-small;
    }
  }
}

// business
.business {
  text-align: center;
  margin-top: 50px;

  &__title {
    margin: 11px auto;

    &-heading {
      margin-bottom: 24px;
      .text(@font-size__xxl, @font-weight__bold, @letter-spacing__s, @line-height__db-extra-large, @color__text__black);
    }

    &-desc {
      .text(@font-size__m, @font-weight__base, @letter-spacing__l, @line-height__db-extra-large, @color__text__base);
    }
  }

  &__content {
    list-style: none;
    margin-top: 35px;
    .grid(300px, 1fr,30px);

    &-item {
      img {
        margin-bottom: 24px;
        display: inline-block;
      }

      h3 {
        margin-bottom: 12px;
        .text(@font-size__l, @font-weight__bold, @letter-spacing__s, @line-height__extra-large, @color__text__black);
      }

      p {
        margin-bottom: 22px;
        .text(@font-size__base, @font-weight__base, @letter-spacing__m, @line-height__medium, @color__text__black);
      }

      a {
        padding: 12px 0;
        display: inline-block;
        .text(@font-size__base,@font-weight__bold,@letter-spacing__m,@line-height__small, @color__theme__base);
      }
    }
  }

  @media @tablet {
    margin: 30px 0;
    &__title {
      &-heading {
        .text(@font-size__xl - 2,@font-weight__bold, @letter-spacing__s, @line-height__db-extra-large - 2, @color__text__black);
        margin-bottom: 22px;
      }

      &-desc {
        font-size: @font-size__xs;
        line-height: @line-height__small;
        margin-bottom: 20px;
      }
    }

    &__content {
      margin-top: 18px;
      .grid(245px, 1fr, 20px);
    }
  }
}

// extend
.extend {
  &__box {
    .grid(450px, 1fr, 30px);
    align-items: center;
    margin: 88px 0;

    &-img {
      width: 100%;
      height: 100%;
    }

    &-heading {
      .text(@font-size__xxl, @font-weight__bold, @letter-spacing__s, @line-height__db-extra-large, @color__text__black);
    }

    &-desc {
      margin-top: 32px;
      .text(@font-size__m, @font-weight__base, @letter-spacing__m, @line-height__large,  @color__text__base);
    }

    &-form {
      margin-top: 56px;
      .flex(center, space-between, wrap);
      gap: 24px;

      input {
        background: #f4f5f4;
        flex: 1;
        padding: 11px 16px;
        border: none;

        .text(@font-size__base, @font-weight__base, @letter-spacing__m, @line-height__medium,  @color__text__base);

        outline: none;
        text-transform: lowercase;
        &::placeholder {
          text-transform: capitalize;
        }
      }

      a {
        .btn-default();
      }
    }

    &-sub {
      margin-top: 16px;
      .text(@font-size__xs,  @font-weight__semibold, @letter-spacing__m, @line-height__extra-small,  @color__text__base);
    }

    &-delivery {
      margin-top: 56px;
      .flex(center);
      gap: 30px;
      list-style: none;

      li {
        p {
          margin-top: 16px;
          .text(@font-size__m,  @font-weight__base, @letter-spacing__m, @line-height__large,  @color__text__base);
        }
      }
    }
  }

  @media @tablet {
    &__box {
      margin: 50px 0;
      display: block;

      &-img {
        width: 100%;
      }

      &-content {
        margin-bottom: 30px;
        flex: unset;
        width: 100%;
      }

      &-heading {
        .text(@font-size__xl,@font-weight__bold, @letter-spacing__s, @line-height__db-extra-large - 2, @color__text__black);
      }

      &-desc {
        margin-top: 28px;
        .text(@font-size__base,  @font-weight__base, @letter-spacing__m, @line-height__medium,  @color__text__base);
      }

      &-form {
        margin-top: 38px;
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
      }

      &-delivery {
        margin-top: 40px;
        flex-wrap: wrap;
      }
    }
  }
}

.bottom {
  margin-bottom: 95px;
  text-align: center;
  &__list {
    .grid(250px, 1fr, 30px);
    list-style: none;

    &-item {
      img {
        width: 100%;
        object-fit: cover;
      }

      h6 {
        padding-top: 32px;
        padding-bottom: 12px;
        .text(@font-size__l,  @font-weight__bold, @letter-spacing__s, @line-height__extra-large,  @color__text__black);
      }

      p {
        .text(@font-size__base,  @font-weight__base, @letter-spacing__m, @line-height__medium,  @color__text__black);
      }
    }
  }
}
